<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <h1><span class="glyphicon glyphicon-tent"></span>Welcome to YelpCamp!</h1>
        <p>View our hand-picked campgrounds from around the world!</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new campground</a>
        </p>
        <p>
            <form action="/campgrounds" method="GET" class="form-inline">
                <div class="form-group">
                    <input type="text" name="search" placeholder="Campground search" class="form-control">
                    <input type="submit" value="Search" class="btn btn-default">
                    
                </div>
            </form>
        </p>
    </header>

    <div class="row text-center">
        <div class="col-lg-12" style="display:block;">
            <% if(noMatch !== undefined) { %>
                <h3> <%=  noMatch %> </h3>
            <% } else { %>
            <h3>Our most popular campgrounds</h3>
            <% } %>
        </div>
     
        <div class="row" style="flex-wrap: wrap; text-align:center;">
             <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src=" <%= campground.image %>" width="100%">
                    <div class="caption">
                        <h4><%= campground.name %></h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</div>

<% include ../partials/footer %>